.bio {
    font-family: var(--font1);
    display: flex;
    padding: 6vw 8vw;
}

.bio img {
    border-top-left-radius: 240px;
    border-top-right-radius: 240px;
    margin-right: 2vw;
    width: 30%;
}

.bio .container h1.heading {
    /* border: 1px solid blue; */
    text-align: left;
    font-size: 2vw;
    margin-bottom: 1vw;
}

.bio .container h3.subHeading {
    /* border: 1px solid green; */
    text-align: left;
    margin: 0.6vw 0;
    font-size: 1.3vw;
}

.bio.reverse {
    flex-direction: row-reverse;
}

.bio.reverse img {
    margin-left: 2vw;
}