#who {
    font-family: var(--font1);
    padding: 20px 0;
}

#who .info {
    width: 65%;
    margin: auto;
}

.heading {
    font-size: var(--heading-font);
    font-weight: 500;
    text-align: center;
    color: var(--heading-color);
}

.heading>span {
    color: rgba(130, 159, 199, 1);
}

.subHeading {
    font-size: var(--font-size);
    font-weight: 400;
    text-align: center;
    margin: 3vw 0;
    color: var(--subHeading-color);
}

.line {
    width: 6vw;
    height: 0.2vw;
    background-color: rgba(130, 159, 199, 1);
    margin: auto;
    border-radius: 2px;
    margin-top: 0.4vw;
}